@use './variables' as *;
@use './functions' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.7px;
}



.hero {
  width: 100%;
  height: 760px;
  background: url("/css/assets/seacost.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
}
.hero a{
  color: $text-color-header;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.logo {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.6px;
  color: $text-color-header;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-left: 0px;
  margin-right: 0px;
}

.nav .menu {
  color: $text-color-header;
  font-size: 25px;
  padding-top: 25px;
  font-weight: 800;
  text-transform: uppercase;
}
.menu a {
  padding-left: 72px;
  color: black;
}
.hero-box {
  display: flex;
  flex-direction: column;
  margin-left: 57%;
  margin-right: 0;
  color: white;
  margin-top: 230px;
  width: 448px;

  &-heading-primary {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.6px;
    margin-right: 70px;
  }
  &-describe-cta {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    font-size: 21px;
    &-describe {
      width: 250px;
      line-height: 1.4;
    }
    &-cta-btn {
      width: 176px;
      border: 4px solid white;
      height: 51px;
      border-radius: 25px;
      display: flex;
      font-size: 21px;
      text-transform: uppercase;
      justify-content: center;
      padding: 10px;
      cursor: pointer;
      font-family: inherit;
      font-weight: 800;
      text-decoration: none;
    }
    & a{
      color: white;
      line-height: 1.1;
    }
  }
}
