@use './variables' as *;
@use './functions' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.7px;
}

p{
  color: #575756;
}

/* HERO */
.hero {
  width: 100%;
  height: 760px;
  background: url("/css/assets/seacost.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
}
.hero a {
  color: $text-color-header;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.logo {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.6px;
  color: $text-color-header;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-left: 0px;
  margin-right: 0px;
}

.nav .menu {
  color: $text-color-header;
  font-size: 25px;
  padding-top: 25px;
  font-weight: 800;
  text-transform: uppercase;
}
.menu a {
  padding-left: 72px;
  color: black;
}
.hero-box {
  display: flex;
  flex-direction: column;
  margin-left: 57%;
  margin-right: 0;
  color: white;
  margin-top: 230px;
  width: 448px;

  &-heading-primary {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.6px;
    margin-right: 70px;
  }
  &-describe-cta {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    font-size: 21px;
    letter-spacing: 0.4px;
    &-describe {
      width: 250px;
      line-height: 1.5;
    }
    &-cta-btn {
      width: 176px;
      border: 4px solid white;
      height: 51px;
      border-radius: 25px;
      display: flex;
      font-size: 22px;
      text-transform: uppercase;
      justify-content: center;
      padding: 10px;
      cursor: pointer;
      font-family: inherit;
      font-weight: 800;
      text-decoration: none;
    }
    & a {
      color: white;
      line-height: 1.1;
    }
  }
}

/*SECTION TITLE*/

.section-title {
  padding: 35px 0 60px;
}
.article {
  &-heading-secondary {
    font-size: 50px;
    font-weight: 700;
    color: $title-color;
    margin-bottom: 34px;
    letter-spacing: 0px;
  }
  &-text-box--2-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    &-paragraph {
      font-weight: 300;
      line-height: 1.75;
      letter-spacing: 0px;
    }
  }
}

/*ANOTHER TITLE*/

.another-title {
  background-color: $secondary-background-color;
  padding: 35px 0 60px;
  font-size: 16px;
}
.another-article {
  &-text-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;

    &-content {
      font-weight: 300;
      line-height: 1.8;
      letter-spacing: -0.09px;
      &-right {
        margin-top: -7px;
        margin-bottom: 19px;
      }
    }
  }
}
.another-article-text-without-image {
  line-height: 1.8;
  letter-spacing: -0.09px;
}


/*PHOTO GALLERY*/

.photo-gallery{
  padding: 40PX;
}

/*FOOTER*/
.footer {
  background-color: $title-color;
  padding: 25px;
  &-text {
    color: white;
  }
}
